.rich-text-wrap {
  font-size: 14px;
}

@media (min-width: 1600px) {
  .rich-text-wrap .pre,
  .rich-text-wrap pre {
    width: 900px;
    padding-top: 25px !important;
    background-color: #f6f8fa;
  }
}

@media (min-width: 1300px) and (max-width: 1600px) {
  .rich-text-wrap .pre,
  .rich-text-wrap pre {
    width: 800px;
    padding-top: 25px !important;
    background-color: #f6f8fa;
  }
}

@media (min-width: 1024px) and (max-width: 1300px) {
  .rich-text-wrap .pre,
  .rich-text-wrap pre {
    width: 700px;
    padding-top: 25px !important;
    background-color: #f6f8fa;
  }
}

@media (max-width: 1024px) {
  .rich-text-wrap .pre,
  .rich-text-wrap pre {
    width: 100%;
    padding-top: 25px !important;
    background-color: #f6f8fa;
  }
}

.rich-text-wrap p > code {
  color: #c1798b;
  background-color: #f6f8fa;
  padding: 1px 1.5px;
  border-radius: 2px;
}

.rich-text-wrap h1 {
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  margin-block-start: 0.67em;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
  font-weight: 700;
}

.rich-text-wrap h1 span {
  font-size: 2em;
}

.rich-text-wrap h2 {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  margin-block-start: 0.83em;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
  font-weight: 700;
}

.rich-text-wrap h2 span {
  font-size: 1.5em;
}

.rich-text-wrap h3 {
  display: block;
  font-size: 18px;
  -webkit-margin-before: 1em;
  margin-block-start: 1em;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
  font-weight: 700;
}

.rich-text-wrap h3 span {
  font-size: 15px;
}

.rich-text-wrap h4 {
  display: block;
  -webkit-margin-before: 1.33em;
  margin-block-start: 1.33em;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
  font-weight: 700;
  font-size: 6px;
}

.rich-text-wrap h5 {
  display: block;
  font-size: 16px;
  -webkit-margin-before: 1.67em;
  margin-block-start: 1.67em;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
  font-weight: 700;
}

.rich-text-wrap h5 span {
  font-size: 14px;
}

.rich-text-wrap h6 {
  display: block;
  font-size: 0.67em;
  -webkit-margin-before: 2.33em;
  margin-block-start: 2.33em;
  -webkit-margin-after: 2.33em;
  margin-block-end: 2.33em;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
  font-weight: 700;
}

.rich-text-wrap h6 span {
  font-size: 0.67em;
}

.rich-text-wrap p {
  display: block;
  -webkit-margin-before: 0.5em;
  margin-block-start: 0.5em;
  -webkit-margin-after: 1em;
  margin-block-end: 1em;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
  font-size: 16px;
  color: #404952;
  text-align: justify;
  line-height: 1.88em;
  -webkit-font-smoothing: antialiased;
}

.rich-text-wrap p img {
  vertical-align: middle;
}

.rich-text-wrap p span {
  font-family: å¾®è½¯é›…é»‘, Microsoft YaHei;
  color: #494949;
  text-align: justify;
  font-size: 16px;
}

.rich-text-wrap p + p {
  margin-top: 0;
}

.rich-text-wrap ol {
  display: block;
  -webkit-margin-before: 1em;
  margin-block-start: 1em;
  -webkit-margin-after: 1em;
  margin-block-end: 1em;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
  -webkit-padding-start: 40px;
  padding-inline-start: 40px;
  list-style-type: decimal;
}

.rich-text-wrap ol li {
  color: #404952;
}

.rich-text-wrap ol li::marker {
  color: #a8aeb8;
}

.rich-text-wrap ol .code-word {
  color: #404952;
}

.rich-text-wrap ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  margin-block-start: 1em;
  -webkit-margin-after: 1em;
  margin-block-end: 1em;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
  -webkit-padding-start: 20px;
  padding-inline-start: 20px;
  color: rgba(85, 128, 200, 0.7);
}

.rich-text-wrap ul li {
  display: list-item;
  content: ".";
  text-align: -webkit-match-parent;
}

.rich-text-wrap table {
  width: 100%;
  overflow-x: scroll;
  display: table;
  border-collapse: collapse;
  white-space: normal;
  line-height: normal;
  font-weight: 400;
  font-size: medium;
  font-style: normal;
  color: -internal-quirk-inherit;
  text-align: start;
  border-spacing: 2px;
  border-color: grey;
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  font-variant: normal;
  color: #494949;
}

.rich-text-wrap tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.rich-text-wrap tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  text-align: center;
}

.rich-text-wrap th {
  text-align: -internal-center;
  background: #e6ebf4;
}

.rich-text-wrap td,
.rich-text-wrap th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: 400;
  border: 1px solid #d1d8e4;
  padding: 5px 12px;
}

.rich-text-wrap td {
  text-align: center;
}

.rich-text-wrap em,
.rich-text-wrap i {
  font-style: italic;
}

.rich-text-wrap pre {
  margin: 0.5em 0;
  padding: 0.4em 0.6em;
  border-radius: 8px;
  background: #f6f8fa;
  overflow-x: auto;
  box-sizing: border-box;
}

.rich-text-wrap strong {
  font-weight: 700;
}

.rich-text-wrap blockquote {
  margin: 5px 0;
  border-left: 4px solid #ddd;
  padding: 0 0 0 14px;
  line-height: 1.7em;
  color: #626e7a;
  font-weight: 400;
}

@media screen and (min-width: 750px) {
  .rich-text-wrap h1,
  .rich-text-wrap h2,
  .rich-text-wrap h3,
  .rich-text-wrap h4,
  .rich-text-wrap h5,
  .rich-text-wrap h6 {
    margin-top: 28px;
    margin-bottom: 16px;
  }
}

.rich-text-wrap .hljs-comment,
.rich-text-wrap .hljs-quote {
  color: #a8aeb8;
}

.rich-text-wrap .hljs-attribute,
.rich-text-wrap .hljs-link,
.rich-text-wrap .hljs-name,
.rich-text-wrap .hljs-regexp,
.rich-text-wrap .hljs-selector-class,
.rich-text-wrap .hljs-selector-id,
.rich-text-wrap .hljs-tag,
.rich-text-wrap .hljs-template-variable,
.rich-text-wrap .hljs-variable {
  color: #d73737;
}

.rich-text-wrap .hljs-built_in,
.rich-text-wrap .hljs-builtin-name,
.rich-text-wrap .hljs-literal,
.rich-text-wrap .hljs-meta,
.rich-text-wrap .hljs-number,
.rich-text-wrap .hljs-params,
.rich-text-wrap .hljs-type {
  color: #b65611;
}

.rich-text-wrap .hljs-bullet,
.rich-text-wrap .hljs-string,
.rich-text-wrap .hljs-symbol {
  color: #60ac39;
}

.rich-text-wrap .hljs-section,
.rich-text-wrap .hljs-title {
  color: #6684e1;
}

.rich-text-wrap .hljs-keyword,
.rich-text-wrap .hljs-selector-tag {
  color: #b854d4;
}

.rich-text-wrap .hljs-emphasis {
  font-style: italic;
}

.rich-text-wrap .hljs-strong {
  font-weight: 700;
}

.rich-text-wrap p {
  margin-bottom: 16px;
}
